<mat-toolbar color="primary" fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="10px">
    <span fxFlex="20">Docline</span>
    <span fxFlex="30"></span>
    <div class="form-button-container" fxFlex="50" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="end center">
      <a href="" mat-flat-button color="primary">REGISTER AS CLIENT</a>
      <a href="" mat-button style="color:yellow;">REGISTER AS DOCTOR</a>
      <a href="" mat-raised-button class="primary">LOGIN</a>
    </div>
</mat-toolbar>