<div class="main" fxLayout="row " fxLayoutAlign="center center">
    <mat-card fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card-header fxFlex="100">
            <mat-card-title>DOCTOR REGISTRATION FORM</mat-card-title>
            <mat-card-subtitle>As Doctor</mat-card-subtitle>
        </mat-card-header>
        <br><br><br><br>
        <mat-card-content fxLayout="row wrap" fxFlex="100">
            <form action="" method="get" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>username or email</mat-label>
                    <input matInput type="text" placeholder="">
                    <span matSuffix>email</span>
                </mat-form-field>


                <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>password</mat-label>
                    <input matInput type="password" placeholder="">
                    <span matSuffix>password</span>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>retype password</mat-label>
                    <input matInput type="password" placeholder="">
                    <span matSuffix>retype </span>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>username or email</mat-label>
                    <input matInput type="text" placeholder="">
                    <span matSuffix>email</span>
                </mat-form-field>





                <a href="" style="height: 3.2em;padding-top:5px;" mat-raised-button fxFlex="70" color="primary">REGISTER</a>
                <a [routerLink]="['/client-registration']" routerLinkActive="router-link-active" style="height: 3.2em;padding-top:5px;" mat-button fxFlex="70" color="primary">Register as client</a>
            </form>
        </mat-card-content>

        <mat-card-footer>

        </mat-card-footer>
    </mat-card>
</div>
