<div class="container">
    <form #doctorForm="ngForm" (ngSubmit)="doctorForm.valid && registerDoctor(doctorForm)" id="contact">
        <h3>Doctor REGISTRATION FORM</h3>
        <h4>As Doctor</h4>
        <div id="msg">
            <label class="success" *ngIf="showSuccessMessage">account successfully saved.</label>
            <label class="errors" *ngIf="serverErrorMessages">{{serverErrorMessages}}</label>
        </div>
        <fieldset>
            <input #name="ngModel" [(ngModel)]="doctorService.aDoctor.name" name="name" placeholder="Your name" type="text" tabindex="1" required autofocus minlength="4" autocomplete="off">
            <div *ngIf="doctorForm.submitted && !name.valid">
                <h6 class="errors" *ngIf="name.errors.required">Your name is required</h6>
                <h6 class="errors" *ngIf="name.errors.minlength">Must be more than 4 characters</h6>
            </div>
        </fieldset>
        <fieldset>
            <input #email="ngModel" [(ngModel)]="doctorService.aDoctor.email" name="email" placeholder="Your Email Address" type="email" tabindex="2" required [pattern]="emailRegex" autocomplete="off">
            <div *ngIf="doctorForm.submitted && !email.valid">
                <h6 class="errors" *ngIf="email.errors.required">Your email is required</h6>
                <h6 class="errors" *ngIf="email.errors.pattern">Invalid email address</h6>
            </div>
        </fieldset>
        <fieldset>
            <input #tel="ngModel" [(ngModel)]="doctorService.aDoctor.tel" name="tel" placeholder="Your Phone Number" type="number" tabindex="3" required minlength="9" autocomplete="off">
            <div *ngIf="doctorForm.submitted && !tel.valid">
                <h6 class="errors" *ngIf="tel.errors.required">Your phone number is required</h6>
                <h6 class="errors" *ngIf="tel.errors.minlength">Must be more than 4 characters</h6>
            </div>
        </fieldset>
        <fieldset>
            <input #specialty="ngModel" [(ngModel)]="doctorService.aDoctor.specialty" name="specialty" placeholder="Your Specialty" type="text" tabindex="3" required autocomplete="off">
            <div *ngIf="doctorForm.submitted && !specialty.valid">
                <h6 class="errors" *ngIf="specialty.errors.required">Your phone number is required</h6>
            </div>
        </fieldset>
        <fieldset>
            <input #consultation_fee="ngModel" [(ngModel)]="doctorService.aDoctor.consultation_fee" name="consultation_fee" placeholder="Your Consultation Fee" type="number" tabindex="4" required autocomplete="off">
            <div *ngIf="doctorForm.submitted && !consultation_fee.valid">
                <h6 class="errors" *ngIf="consultation_fee.errors.required">Consultation fee number is required</h6>
            </div>
        </fieldset>
        <fieldset>
            <input #location="ngModel" [(ngModel)]="doctorService.aDoctor.location" name="location" placeholder="Your location" type="text" tabindex="5" required autocomplete="off">
            <div *ngIf="doctorForm.submitted && !location.valid">
                <h6 class="errors" *ngIf="location.errors.required">Your location is required</h6>
            </div>
        </fieldset>
        <fieldset>
            <input #password="ngModel" [(ngModel)]="doctorService.aDoctor.password" name="password" placeholder="Your Password" type="password" tabindex="7" required minlength="5" autocomplete="off">
            <div *ngIf="doctorForm.submitted && !password.valid">
                <h6 class="errors" *ngIf="password.errors.required">Your password is required</h6>
                <h6 class="errors" *ngIf="password.errors.minlength">Must be more than 5 characters</h6>
            </div>
        </fieldset>
        <fieldset>
            <textarea #biography="ngModel" [(ngModel)]="doctorService.aDoctor.biography" name="biography" placeholder="Enter your biography here" tabindex="8" required>
                </textarea>
            <div *ngIf="doctorForm.submitted && !biography.valid">
                <h6 class="errors" *ngIf="biography.errors.required">Your biography is required</h6>
            </div>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Register</button>
        </fieldset>
        <p class="copyright">Register as <a [routerLink]="['/client-registration']" routerLinkActive="router-link-active" title="Colorlib">Client</a></p>
    </form>
</div>