<div class="container">
        <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && loginUser(loginForm)" id="contact">
            <h3>CLIENT LOGIN FORM</h3>
            <h4>As Client/Doctor</h4>
            <div id="msg">
                <label class="errors" *ngIf="serverErrorMessages">{{serverErrorMessages}}</label>
            </div>
            <fieldset>
                <input #email="ngModel" [(ngModel)]="loginModel.email" name="email" placeholder="Your Email Address" type="email" tabindex="1" required [pattern]="emailRegex" autocomplete="off">
                <div *ngIf="loginForm.submitted && !email.valid">
                  <h6 class="errors" *ngIf="email.errors.required">Your email is required</h6>
                  <h6 class="errors" *ngIf="email.errors.pattern">Invalid email</h6>
              </div>
            </fieldset>
            
            <fieldset>
                <input #password="ngModel" [(ngModel)]="loginModel.password" name="password" placeholder="Your Password" type="password" tabindex="2" required autocomplete="off">
                <div *ngIf="loginForm.submitted && !password.valid">
                    <h6 class="errors" *ngIf="password.errors.required">Your password is required</h6>
                </div>
            </fieldset>

            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Login</button>
            </fieldset>
            <p class="copyright"><a [routerLink]="['/home']" routerLinkActive="router-link-active" title="Colorlib">forgot password</a></p>
        </form>
    </div> 