<div class="main" style="margin-top: 20px;" fxLayout="row" fxLayoutAlign="center center">

  <div class="left" fxFlex="40" fxLayout="row" fxLayoutAlign="center start" style="height:20em;" >
    <img fxFlex="50" src="../../assets/get paid.png
    " alt="">
  </div>
  <div class="" fxFlex="60" style="min-height:20em;">
    <div fxLayout="row wrap"  fxLayoutAlign="start center">
      <div fxFlex="100" style="font-size: 150%;">
          Doctor JOHNATHAN EBENEZA IYEANYA
      </div>
      <br> <br><br>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
        <div fxFlex="20" style="font-size: 120%">
            Specialty
        </div>
        <div fxFlex="80">
                Gyneachologist
            </div>
        </div> <br><br>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
          <div fxFlex="20" style="font-size: 120%">
              Experience
          </div>
          <div fxFlex="80">
                  5 years +
              </div>
          </div><br><br>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
            <div fxFlex="20" style="font-size: 120%">
                Address
            </div>
            <div fxFlex="80">
                    Limbe Mile 4. Opposite Bonadikombo 
                </div>
            </div><br><br>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
              <div fxFlex="20" style="font-size: 120%">
                  Description
              </div>
              <div fxFlex="80">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Inventore debitis ea recusandae tempora excepturi mollitia dicta itaque deserunt
                       fugiat harum magni qui repellendus autem nemo ipsam, officiis nobis sequi dolore.
                  </div>
              </div><br><br><br>
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                <div fxFlex="20" style="font-size: 120%">
                    email
                </div>
                <div fxFlex="80">
                        doctorabc@gmail.com
                    </div>
                </div><br><br>
                 
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
            <div fxFlex="20" style="font-size: 120%">
                Consultation fee
            </div>
            <div fxFlex="80">
                    10000FCFA
                </div>
            </div><br><br>
            

          <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
            <div fxFlex="20" style="font-size: 120%">
                Sessions
            </div>
            <div fxFlex="80">
                    <mat-chip-list>
                        <mat-chip >s 9am - 11am</mat-chip>
                        <mat-chip>s 1pm - 4pm</mat-chip>
                        <mat-chip>s 6pm - 8pm</mat-chip>
                    </mat-chip-list>
                </div>
            </div><br><br><br>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
              <button fxFlex="50" mat-raised-button  color="primary" style="font-size: 110%;height:3em;">
                  Book Appointment with doctor
              </button>
              <div fxFlex="50">
                     
                  </div>
              </div><br><br>

      
      </div>
  </div>

</div>