<mat-card style="width:15em;margin-left:20px;">
    <mat-card-header>
        <mat-card-title>{{doc.name}}</mat-card-title>
        <mat-card-subtitle>{{doc.location}}</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="../../assets/heart-3405559_1920.jpg">
    <mat-card-content>
        
            <li style="font-size:140%;">{{doc.specialty}}</li>
            <li style="font-size: 120%;">{{doc.location}}</li> <br>
            <li><span  class="availability" > {{doc.availableSessions}}/3</span></li>
       
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="accent">View</button>
        <button mat-button color="primary">Book Appointment</button>
        
    </mat-card-actions>
</mat-card>
