<div class="man" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px" style="margin-top: 20px;">

  <mat-card *ngFor="let appointment of appointmentList" fxFlex="40" style="margin-bottom:80px!important;">
      <mat-card-header>
          <mat-card-title>Appointment {{appointment.id}}</mat-card-title>
        
      </mat-card-header>
      
     <mat-divider></mat-divider>
      <mat-card-content style="height: 5em;">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-bottom:5px;margin-top:10px;">
          <div fxFlex="40">
            {{appointment.userType}}
          </div>
          <div fxFlex="60" style="color:#2196f3">
           
            {{appointment.name}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-bottom:10px">
          <div fxFlex="40">
            Address
          </div>
          <div fxFlex="60" style="color:#2196f3">           
           {{appointment.address}}
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-bottom:5px;">
          <div fxFlex="40">
            Choosen session
          </div>
          <div fxFlex="60" style="color:#2196f3">
          {{appointment.session}}
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions align="end">
        <a href="" mat-button color="warn" *ngIf="appointment.userType== 'client'">Cancel appointment</a>
      </mat-card-actions>
    
     
  </mat-card>

</div>