<div class="man" fxLayout="row" fxLayoutAlign="center start">

  <mat-card fxFlex="50">
      <mat-card-header>
          <mat-card-title>Appointment</mat-card-title>
        
      </mat-card-header>
      
     <mat-divider></mat-divider>
      <mat-card-content style="height: 8em;">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-bottom:5px;">
          <div fxFlex="40">
            Client
          </div>
          <div fxFlex="60">
           
            <mat-chip-list color="accent">
              <mat-chip>  DONGA MANTU ENOLAOQUANTE</mat-chip>
          </mat-chip-list>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-bottom:10px">
          <div fxFlex="40">
            Address
          </div>
          <div fxFlex="60">           
            <mat-chip-list>
              <mat-chip> Limbe Middlefarm ,Bota</mat-chip>
          </mat-chip-list>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-bottom:5px;">
          <div fxFlex="40">
            Choosen session
          </div>
          <div fxFlex="60">
           <mat-chip-list>
               <mat-chip>session from 1pm - 3pm</mat-chip>
           </mat-chip-list>
          </div>
        </div>
      </mat-card-content>
    
     
  </mat-card>

</div>