<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <a class="logo" fxFlex="20" [routerLink]="['/home']" routerLinkActive="router-link-active">DocLib</a>
    <span fxFlex="30"></span>
    <div class="form-button-container" fxFlex="50" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="end center">
        <a href="" mat-flat-button color="primary" [routerLink]="['/client-registration']" routerLinkActive="router-link-active">REGISTER AS CLIENT</a>
        <a href="" mat-button style="color:yellow;" [routerLink]="['/doctor-registration']" routerLinkActive="router-link-active">REGISTER AS DOCTOR</a>
        <a href="" mat-raised-button class="primary" [routerLink]="['/login']" routerLinkActive="router-link-active">LOGIN</a>
    </div>
</mat-toolbar>
