<div class="main" fxLayout="row wrap" fxLayoutAlign="start center" style="background:white;box-shadow:0px 3px 6px rgba(0,0,0,0.213);">
  <div class="filter-container" fxFlex="80" fxLayout="row">
<form action="" method="get" fxFlex="100" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
  <span fxFlex="20" style="text-align: center;">Filter Content</span>
  <div fxFlex="80" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <mat-form-field fxFlex="30">
          <mat-label>location</mat-label>
          <mat-select>
            <mat-option value="Limbe">Limbe</mat-option>
            <mat-option value="Buea">Buea</mat-option>
            <mat-option value="volvo">Bamenda</mat-option>
            
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30">
            <mat-label>Specialty</mat-label>
            <mat-select>
              <mat-option value="ENT">ENT</mat-option>
              <mat-option value="Cardiologist">Gynachologist</mat-option>
              <mat-option value="Cardiologist">Cardiologist</mat-option>
              <mat-option value="Epidermologist">Epidermologist</mat-option>
              <mat-option value="Neurologist">Neurologist</mat-option>
              
            </mat-select>
          </mat-form-field>

         <mat-form-field >
           <mat-label>doctor's name</mat-label>
              <input matInput 
                     type="text"                   
                     >
         </mat-form-field>
  </div>
 
</form>
</div>
</div>
<div fxLayout="row wrap" fxLayout`ign="start center" fxLayoutGap="10px" style="margin-top: 30px">
    <app-doctor-card *ngFor=" let doctor of doctors" [doc]= "doctor"></app-doctor-card>
   
</div>