<div class="main" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
<span fxFlex="100" style="text-align: center;
 font-family: 'Roboto';
 font-size: 150%;
 font-weight:lighter;">Are You a Health Professional?</span>
<span fxFlex="100" style="text-align: center;font-size: 170%;font-weight: lighter;
">DISCOVER MAKING APPOINTMENT ONLINE AND EASE LIVES.</span>

<div class="division-section" fxFlex="100" fxLayout="row " fxLayoutAlign="center center" fxLayoutGap="40px">
<mat-card fxFlex="20" fxFlexAlign="center">
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/create account.png" style="width: 10em;margin-left: 15%;">
    <mat-card-content style="font-size: 155%;text-align:center;">
      create Account 
    </mat-card-content>
</mat-card>

<mat-card fxFlex="20" fxFlexAlign="center">
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/safe life.png" style="width: 10em;margin-left: 15%;">
    <mat-card-content style="font-size: 155%;text-align:center;">
      save life 
    </mat-card-content>
</mat-card>


<mat-card fxFlex="20" fxFlexAlign="center">
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/health.jpg" style="width: 10em;margin-left: 15%;">
    <mat-card-content style="font-size: 115%;text-align:center;">
      Peform regular checkups
    </mat-card-content>
</mat-card>


<mat-card fxFlex="20" fxFlexAlign="center">
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/get paid.png" style="width: 10em;margin-left: 15%;">
    <mat-card-content style="font-size: 155%;text-align:center;">
      save life 
    </mat-card-content>
</mat-card>
</div>

<div class="get-started-section" fxFlex="80" fxLayout="row" fxLayoutAlign="center center">
<a href="" fxFlex="40" mat-raised-button color="primary">GET STARTED</a>
</div>
</div>

<div class="section3" fxLayout="row" fxLayoutAlign="center center">
  <DIV class="section3-left" fxFlex="60" fxLayout="row wrap" fxFlexOffset="40px">
     

      <span fxFlex="100"> 100% EFFICIENT,</span>
      <span id="count" fxFlex="100"> RELIABLE AND</span> 
      <span fxFlex="100"> TRUST WORTHY </span>
  </DIV>
  <DIV class="section3-right" fxFlex="40" fxLayout="row wrap">
      <span fxFlex="100">Over</span>
      <span id="count" fxFlex="100">1000</span> 
      <span fxFlex="100">confirmed visitors monthly</span>
  </DIV>
</div>